/*Basic page Styling*/
body{
    font-family: Arial, sans-serif;
    max-width: 960px;
    margin: 0;
    padding: 20px;
    background-color: #40569e;
}
/*Header Styling*/
h1 {
    color: #333;
    text-align:center;

}
h2{
    color:#723333;
    border-bottom: 2px solid #6e3939;
    padding-bottom: 5px;
}
