/*Basic page Styling*/
bocy{
    font-family: Arial, sans-serif;
    margin 0;
    padding: 20px;
    background-color: #f0f0f0;
}
/*Header Styling*/
h1 {
    color: #333;
    text-align:center;

}
h2{
    color:#555;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
